html,
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    background-color: #313131 !important;
}

.tabs-content {
    height: 100% !important;
}


.tabs .indicator {
    bottom: unset !important;
    height: 3px !important;
}

nav {
    background-color: #111;
}

ul.tabs {
    background-color: #000;
}

.tabs,
.tab {
    line-height: 60px !important;
    height: 65px !important;
}

ul.tabs li a {
    color: #ff00ea !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab a i {
    line-height: unset !important;
}

li.indicator {
    background-color: #ff00ea !important;
}

.tabs-content.carousel.carousel-slider {
    box-shadow: 0 0 8px 2px inset;
}

#dashboard-tab>h1.title,
#documentation-tab>h1.title,
#ufs-tab>h1.title,
#user-tab>h1.title {
    color: #d4009b;
    margin: .3em 0;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0 0 8px black;
}

#dashboard-tab>div.row {
    height: 76vh;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#dashboard-tab>div.row a {
    font-size: 1.5em;
    margin: 0;
    ;
}

#documentation-tab>.list>.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    background-color: #ffffffd1;
    box-shadow: 0 0 5px 2px blueviolet;
    border-radius: 5px;
    position: relative;
}

#documentation-tab .icon-list .circular.icon {
    -webkit-box-shadow: 0 0 0 0.1em rgb(0 0 0) inset;
    box-shadow: 0 0 0 0.1em rgb(0 0 0) inset;
    background-color: #00000038;
}

#documentation-tab .item .content {
    font-size: 1.5em;
}

#documentation-tab .item .content i.red.icon {
    color: #db2828 !important;
    background-color: transparent !important;
    margin: 0;
}

#documentation-tab .item .content i.orange.icon {
    color: #f2711c !important;
    background-color: transparent !important;
    margin: 0;
}

#documentation-tab .item .content i.green.icon {
    color: #21ba45 !important;
    background-color: transparent !important;
    margin: 0;
}

#documentation-tab .item .content .body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .3em 0;
}

#documentation-tab .item .content .body .text {
    margin: 0;
}

#documentation-tab div.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

#documentation-tab div.select select {
    width: 90%;
    color: black;
    font-weight: bold;
}

#documentation-tab .btn-icons {
    flex-direction: row;
    display: flex;
    font-size: 15px;
}

#documentation-tab .btn-icons>* {
    margin: 0 1px;
    font-size: 1rem;
}

#documentation-tab .item .icon-eye .blue,
#documentation-tab .item .icon-camera .blue,
#documentation-tab .item .icon-upload .blue {
    background-color: #2196f300 !important;
    margin: 0 !important;
}

#ufs-tab>.body {
    height: 69vh;
    overflow: auto;
    text-align: -webkit-center;
    padding: 20px 0;
    margin: 0 15px;
    box-shadow: 0 0 8px 1px;
    background-color: #212121;
    border-radius: 4px;
}

#ufs-tab>.body>.ui.card {
    background-color: #ffffffd1;
}

#ufs-tab .footer {
    height: 6vh;
}

#ufs-tab .footer p {
    font-size: 20px;
    text-align: center;
    margin: 0 2rem;
    color: #fff;
    font-weight: bold;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#ufs-tab .ui.checked.checkbox {
    display: block;
    padding: 10px 0;
}

#ufs-tab .ui.checked.checkbox:first-of-type {
    display: block;
    padding: 0 0 10px 0;
}

#ufs-tab .ui.checked.checkbox:last-child {
    display: block;
    padding: 10px 0 0 0;
}

#ufs-tab .ui.checked.checkbox label {
    cursor: pointer;
}

#ufs-tab .ui.card,
#ufs-tab .ui.cards>.card {
    width: 85%;
}


#ufs-tab .ui.checked.checkbox label.passed {
    background-color: greenyellow;
    cursor: not-allowed !important;
}

#ufs-tab button,
#user-tab button.lock {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
}

#user-tab form {
    margin: 0 15px;
    padding: 20px;
    box-shadow: 0 0 8px 1px;
    background-color: #212121;
    border-radius: 9px;
}

#user-tab form>div.field {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#user-tab form label {
    color: #e400ff !important;
    font-size: 19px !important;
    margin-bottom: 8px !important;
}

#user-tab form input[type="text"] {
    padding: 10px !important;
    height: 20px !important;
    box-shadow: 0 0 7px 0px violet !important;
    margin: auto;
    width: 90% !important;
}

#user-tab form button.ui.button.positive.col.s12 {
    height: 40px;
    margin-top: 20px;
}

#user-tab form input[type="text"]:disabled {
    opacity: .6;
}